.productName {
  height: 250px;
}

.product {
  margin-bottom: 5px;
  min-width: 175px;
}

.price {
  font-size: 12px;
}

.high {
  text-decoration: line-through;
}

.low {
  color: green;
}

.description {
  font-size: 12px;
}

.sectionTitle {
  margin: auto;
  width: 100%;
  text-align: center;
}
